<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd"
 >
 
   <bean id="Person" class="com.Person">
      <property name="personName" value="Rohit"/>
      <property name="personAddress" value="23 old Baker street"/>
   
   </bean>
   
   
   <bean id="Customer" class="com.Customer">
   
        <property name="customerName" value="Peter Jones"/>
        <property name="customerEmail" value="peterJones484@gmail.com"/>
   
   
   </bean>
 
 
 
 </beans>